<div class="flex min-h-screen bg-[#FFBC56]">
  <div
    class="bg-[#FFDAAF] w-[1269px] flex gap-x-8 rounded-[20px] px-12 py-12 mx-auto my-auto"
  >
    <div class="flex-shrink-0 relative">
      <img
        src="/image1.png"
        class="w-[542px] h-[542px]"
      />
      <div
        class="absolute bg-white px-4 py-2 w-[120px] h-[127px] rounded-[10px] right-8 bottom-8"
      >
        <p class="text-[24px]">Nov</p>
        <p class="text-[70px] -translate-y-8 flex">
          <span>2</span>
          <span>3</span>
        </p>
      </div>
    </div>
    <div class="flex flex-col">
      <p class="text-[#FF6B00] text-[80px]">Thanksgiving</p>
      <p class="text-[22px] my-auto">
        Gather your friends and invite them over for a special Thanksgiving
        potluck! Bring a dish to share as we come together to celebrate and give
        thanks. Our cozy home will be filled with the delightful aromas of
        various homemade dishes, creating a sense of warmth and togetherness.
        From traditional favorites to unique creations, the potluck will offer a
        diverse range of flavors and culinary delights. Enjoy the company of
        friends, savor delicious food, and create cherished memories at this
        memorable Thanksgiving gathering.
      </p>
      <button
        class="bg-[#449C42] w-[325px] h-[49px] text-[20px] font-bold text-white rounded-[10px]"
      >
        Thanksgiving Potluck List</button
      >
    </div>
  </div>
</div>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
  body {
    font-family: 'Rufina', serif;
  }
</style>
